.brewery {
  display: grid;
  grid-column-start: 0;
  border: 1px solid black;
  width: 90%;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #d4ccce;
}

.selected {
  display: grid;
  grid-column-start: 0;
  border: 1px solid black;
  width: 90%;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #fbf0b7;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.name {
  display: inline-block;
  text-align: center;
  font-size: large;
  font-weight: 700;
}

.info {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}
