.map {
  height: 100vh;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.missingCoordText {
  font-size: larger;
  font-weight: bolder;
  display: inline-block;
  text-align: center;
}
